<style>

  .card-img-side{
      max-width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .container{
      top: 5%;
  }

</style>

  <div class="campoProdutos">
    <div class="container">

      <br>
    <h1>Carrinho de Compras</h1>
    <p>Saldo atual: R$<%= @user.wallet_balance.to_i %></p>
    <p>Total: R$<%= @produtos.sum(&:preco).to_i %></p>


    <% @produtos.each do |produto| %>
      <div class="card">
        <div class="card-body">
          <%= link_to produto_path(produto), class: "card-link" do %>
          <div class="row align-items-center">




            <div class="col-lg">
              <%= image_tag produto.imagem, class: "card-img-side" %>
            </div>

          <div class="col">
                    <p class="h2"><%= produto.nome %></p>
                    <p class="card-text"><%= produto.descricao %></p>
                    <p class="card-text">R$ <%= produto.preco.to_i %></p>

          </div>

          </div>
          <% end %>
        <%= button_to 'Remover do Carrinho', remover_do_carrinho_user_path(@user, produto_id: produto.id), method: :delete, class: 'btn btn-danger' ,style:"font-family: gobold"%>

        </div>

      </div>
      <br>
    <% end %>

      <% if @user.wallet_balance.to_i >= @produtos.sum(&:preco) %>
        <%= form_with url: deduct_from_wallet_user_path(@user), method: :post, id: 'deduct-form' do |form| %>
          <%= form.hidden_field :amount, value: @produtos.sum(&:preco) %>
          <%= form.submit 'realizar Compra', class: 'buy', onclick: 'realizarCompra(event)' %>
        <% end %>
      <% else %>
        <p style="font-size: small">Saldo insuficiente. Deseja adicionar mais ? <%= link_to 'carteira', carteira_path, class: 'h1' %></p>
      <% end %>
    </div>

    <br>

  </div>


<script>
    function realizarCompra(event) {
        event.preventDefault(); // Impede o envio do formulário

        if (confirm('Deseja realizar a compra?')) {
            // Simulação de compra bem-sucedida
            alert('Compra realizada com sucesso!');

            // Enviar o formulário para remover o valor da carteira
            document.getElementById('deduct-form').submit();
        }
    }
</script>
