<style>
    .campoCarteira{
        background-color: #FAFAFA;
        width: 40%;
        min-width: 350px;
        height: auto;
        left: 50%;
        top: 25%;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        top: 25%;
    }
</style>

<div class="container">
<div class="campoCarteira">
  <h1>carteira</h1>

  <p>Saldo atual: R$<%= @user.wallet_balance.to_i %></p>

  <%= form_tag add_to_wallet_user_path(@user), method: :post, class: "form" do %>
    <div class="mb-3">
      <p><%= label_tag :amount, 'Adicionar à carteira', class: "form-label" %></p>
      <%= number_field_tag :amount, class: "form-control", inputmode: "tel" %>
    </div>
    <%= submit_tag 'adicionar', class: "buy" %>
  <% end %>

</div>

</div>