<style>
    .campoCarteira{
        background-color: #FAFAFA;
        width: 40%;
        min-width: 390px;
        height: auto;
        left: 50%;
        top: 25%;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>

<div class="container">
<div class="campoCarteira">
  <h1>carteira</h1>



  <p>Saldo atual: R$<%= @user.wallet_balance %></p>

  <%= form_tag  add_to_wallet_user_path(@user), method: :post do %>
    <p><%= label_tag :amount, 'Adicionar a carteira' %></p>
    <%= number_field_tag :amount %>
    <%= submit_tag 'Add' %>
  <% end %>

</div>

</div>