
<style>

    .campoLogin{
        background-color: #FAFAFA;
        width: 40%;
        min-width: 390px;
        height: auto;
        left: 50%;
        top: 25%;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
</style>





<div class="container">
<div class="campoLogin">

  <% if current_user %>
    <p>Welcome, <%= current_user.name %>. You are logged in.</p>
  <% else %>
    <p>Welcome, Guest. Please log in.</p>
  <% end %>

  <h1>
    fazer login
  </h1>

  <%= form_tag authenticate_path do %>
  <form>
    <div class="mb-3">
      <%= label_tag :email%>
      <%= email_field_tag :email%>

      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
   <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>-->

    <div class="text-center">
      <p>Não é um membro ? <%=link_to'Registre-se',register_path %></p>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% end %>
</div>
</div>