
<style>
    .campoLogin{
        background-color: #FAFAFA;
        width: 40%;
        min-width: 350px;
        height: auto;
        left: 50%;
        top: 25%;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        top: 25%;
    }
</style>





<div class="container">
<div class="campoLogin">

  <% if current_user %>
    <p>Welcome, <%= current_user.name %>. You are logged in.</p>
  <% else %>
    <p>Welcome, Guest. Please log in.</p>
  <% end %>

  <h1>
    fazer login
  </h1>

  <%= form_tag authenticate_path do %>
  <form>
    <div class="mb-3">
      <%= label_tag :email, 'Email address', class: 'form-label', for: 'exampleInputEmail1' %>
      <%= email_field_tag :email, nil, class: 'form-control', id: 'exampleInputEmail1', aria_describedby: 'emailHelp' %>

    </div>


    <div class="text-center">
      <p>Não é um membro ? <%=link_to'Registre-se',register_path %></p>
    </div>
    <button type="submit" class="buy">entrar</button>
  </form>
  <% end %>
</div>
</div>