<div class="container">
  <div class="table-responsive">
    <table id="example" class="table table-dark table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>logged in</th>
        <th>carteira</th>
        <th>Gerenciamento</th>

      </tr>
      </thead>

      <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%=user.logged_in %></td>
          <td><%=user.wallet_balance%></td>
          <td>
            <a href="#"><img src="<%= asset_path('edit.png') %>" width="30px" height="30px" /></a>
            &emsp;&emsp;
            <%= link_to image_tag('excluir.png', style: 'width:30px;height:30px'), user, method: :delete, data: { confirm: "Excluir produto?" } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>


  </div>
</div>