





<html>
<head>
  <meta charset="UTF-8">
  <title>Thunder</title>


</head>


<body>
<div class="campoProdutos">




<div class="container">
  <br> <h1>destaques</h1>
</div>
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel" >

    <div class="carousel-inner">

      <% @produto.each_slice(4).with_index do |produtos_slice, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">

          <div class="container-sm">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
              <% produtos_slice.each do |produto| %>

                <div class="col">
                  <%= link_to produto_path(produto), class: "card-link" do %>
                    <div class="card h-100">
                      <% if produto.imagem.attached? %>
                        <%= image_tag produto.imagem, class: "card-img-top" %>
                      <% else %>
                        <%= image_tag "mouse_pequeno.png", class: "card-img-top" %>
                      <% end %>
                      <div class="card-body">
                        <p class="card-text"><%=produto.nome %></p>
                        <p class="card-text"><%=produto.descricao %></p>
                        <p class="card-text">R$<%= produto.preco %></p>
                        <button class="buy">comprar</button>
                      </div>
                    </div>
                  <%end %>
                </div>
              <% end %>
            </div>

          </div>

        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <br>
  <br>
  <br>
  <div class="container">

  <h1>logitech</h1>
</div>

  <div class="container-sm">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
      <% @produto.where(marca: 'LOGITECH').each do |produto| %>
        <div class="col">
          <%= link_to produto_path(produto), class: "card-link" do %>
            <div class="card h-100">
              <% if produto.imagem.attached? %>
                <%= image_tag produto.imagem, class: "card-img-top" %>
              <% else %>
                <%= image_tag "mouse_pequeno.png", class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <p class="card-text"><%=produto.nome %></p>
                <p class="card-text"><%=produto.descricao %></p>
                <p class="card-text">R$<%= produto.preco %></p>
                <button class="buy"> comprar </button>
              </div>
            </div>
          <%end %>
        </div>
      <% end %>

    </div>
  </div>

  <br>

</div>



</body>
</html>