<html>
<head>
  <meta charset="UTF-8">
  <title>Thunder</title>


</head>
<body>


<div class="container">
  <div class="table-responsive">
    <table id="example" class="table table-dark table-striped">

      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Marca</th>
        <th>Gerenciamento</th>
      </tr>
      </thead>

      <tbody>
      <% @produto.each do |produtos| %>
        <tr>
          <td><%= produtos.id %></td>
          <td><%= produtos.nome %></td>
          <td><%= produtos.descricao %></td>
          <td>R$ <%= produtos.preco %></td>
          <td><%= produtos.quantidade %></td>
          <td><%= produtos.marca %></td>
          <td>
            <a href="#"><img src="<%= asset_path('edit.png') %>" width="30px" height="30px" /></a>
            &emsp;&emsp;
            <%= link_to image_tag('excluir.png', style: 'width:30px;height:30px'), produtos, method: :delete, data: { confirm: "Excluir produto?" } %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

</body>

</html>