<html>
<head>
  <meta charset="UTF-8">
  <title>Thunder</title>


</head>

<div class="campoProdutos">

  <div class="container">
  <br> <h2 ><%=@produto.nome %></h2>

    <p><%= @produto.descricao %></p>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @produto.imagem, class: "card-img-top" %>
    </div>
    <div class=" flex-column col-md-6">

      <div style="text-align: center">
      <h2>CONTEUDO DA CAIXA</h2>
      <p>
        Conteudo<br>
        Conteudo<br>
        Conteudo<br>
        Conteudo
      </p>
      <p>R$<%= @produto.preco%></p>

        <% if current_user %>
          <%= button_to 'Adicionar ao Carrinho', add_to_cart_user_path(current_user, @produto), method: :post, class:"buy"%>
        <% else %>
          <p>Faça login para adicionar produtos ao carrinho.</p>
          <%= link_to 'login', login_path, class: "h1"%>
        <% end %>



      </div>
    </div>
  </div>
  </div>
  <br>
</div>
