<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" <%=link_to 'Novo', new_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" <%=link_to 'Thunder', home_path %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" <%=link_to 'Loja', root_url %></a>
          </li>
        </ul>
        <%= form_tag busca_produto_path, method: :get, class:"d-flex" do %>
          <form class="d-flex" role="search">
            <input <%= text_field_tag :nome, @nome, class:"form-control me-2" %>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% end %>
      </div>
    </div>
  </nav>

  <%= yield %>
  </body>
</html>
