<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
      .navbar {
          position: relative;
      }
      .navbar-brand {
          position: absolute;
          left: 50%;
          margin-left: -50px !important;  /* 50% of your logo width */
          display: block;
          top: 10px;
      }

      .nav-item{
          font-family: gobold;
      }
  </style>
  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <%= link_to 'Thunder', root_url, style: "font-family: 'future', sans-serif;", class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/new">Novo</a>
          </li>
          <li class="nav-item">
            <%= link_to "Produtos", index_path, class: "nav-link active" %>
          </li>



          <% if current_user %>
            <li class="nav-item">
              <%= link_to "Carteira", carteira_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, method: :delete, class: "nav-link active" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link active" %>
            </li>
          <% end %>



        </ul>
        <% if current_user %>
          <li class="nav-item">
        <%= current_user.name%>
          </li>
        <% else %>
        <% end %>
      </div>
    </div>
  </nav>


  <%= yield %>
  </body>
</html>
